#follow{
    text-decoration: none;
    color: $font_color;
    text-align: center;
    font-size: $font_md;
    font-family: $font_type;
}

#menu_social_media{
    display: flex;
    padding-left: 0;
}

#menu_social_media li{
    list-style-type: none;
}

#menu_social_media li img{
    width: 35px;
    height: 35px;
}

#copyright{
    width: 100%;
    text-decoration: none;
    color: $font_color;
    font-family: $font_type;
    font-size: $font_md;
    text-align: center;
    border: 0.5px solid $color_accesory;
    border-radius: 3px;
}