#logo {
    display: flex;
    flex-grow: 1;
}

#nav_header {
    flex-grow: 4;
}

#menu {
    display: flex;
    justify-content: flex-end;
    }

#menu li {
    list-style-type: none;
    border: 0.5px solid white;
    border-radius: 3px;
    padding: 5px;
}

#menu li a{
    text-decoration: none;
    color: white;
    font-family: $font_type;
    font-size: $font_md;
    padding: 5px;
}

#menu li a:hover{
    color: gray;
}