body {
    background-color: $bg_color;
    height: 100vh;
    width: 100%;
    
}

header {
    display: flex;
    flex-direction: row;
    height: 15vh;
}

main{
    display: flex;
}

img{
    border-radius: 1%;
}

footer{
    display: flex;
    height: 15vh;
    flex-direction: column;
    align-items: center;
}