#main_bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img_bio{
    border-radius: 25px;
}

#text_bio{
    color: white;
    font-family: $font_type;
    font-size: $font_sm;
    text-align: justify;
    padding: 25px;
}