#img_bio{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-shrink: 4;
    padding: 5px;
}

#bio_text{
    color: white;
    font-family: $font_type;
    font-size: $font_sm;
    justify-content: center;
    text-align: justify;
    padding: 5px;
}