#main_subscribe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;

}

#img_subscribe{
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    order: 1;

}

#form_subscribe{
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    padding: 5px;
    order: 2;
}

input{
    width: 50%;
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 3px;
    outline: none;
    font-family: $font_type;
    font-size: $font_sm;
}

#select_country{
    width: 50%;
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 3px;
    outline: none;
    color: gray;
    font-family: $font_type;
    font-size: $font_sm;

}
option{
    color: black;
}

textarea{
    width: 50%;
    height: 31vh;
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 3px;
    resize: none;
    outline: none;
    font-family: $font_type;
    font-size: $font_sm;

}

#submit_buttoms{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#submit_buttom{
    width: 100%;
}

#reset_buttom{
    width: 100%;
}

#submit_buttom:hover{
    background-color: gray;

}

#reset_buttom:hover{
    background-color: gray;

}

