#main_subscribe{
    width: 100%;
    padding: 25px 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

#img_subscribe{
    padding: 5px 30px;
}
#img_subscribe img{
    width: 100%;
}

#form_subscribe{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    padding: 5px 30px;
}

form{
    width: 100%;
}

input{
    width: 100%;
    padding: 5px;
    border: $border_subscribe;
    border-radius: 3px;
    outline: none;
    font-family: $font_type;
    font-size: $font_sm;
}

#select_country{
    width: 100%;
    padding: 5px;
    border: $border_subscribe;
    border-radius: 3px;
    outline: none;
    color: $color_accesory;
    font-family: $font_type;
    font-size: $font_sm;

}
option{
    color: black;
}

textarea{
    width: 100%;
    height: 10%;
    padding: 5px;
    border: $border_subscribe;
    border-radius: 3px;
    resize: none;
    outline: none;
    font-family: $font_type;
    font-size: $font_sm;

}

#submit_buttoms{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#submit_buttom{
    width: 100%;
}

#reset_buttom{
    width: 100%;
}

#submit_buttom:hover{
    background-color: $color_accesory;

}

#reset_buttom:hover{
    background-color: $color_accesory;

}

