#main_tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img_tour{
    border-radius: 25px;
}
#dates_tour{
    margin: 10px;
    color: white;
    font-family: $font_type;
    font-size: $font_sm;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 2.5px;
    align-items: center;
    justify-items: center;
}

#dates_tour li{
    list-style-type: none;
    border: 0.5px solid white;
    border-radius: 3px;
    padding: 5px;
}

#dates_tour li a{
    color: white;
    text-decoration: none;
}

#dates_tour li a:hover{
    color: gray;
}