#main_watch{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 35px;
}

iframe{
    width: 100%;
}

#video_left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#video_right{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#video_left_watch{
    flex-grow: 1;
}

#video_right_watch{
    flex-grow: 1;
}

#text_left_watch{
    display: flex;
    flex-grow: 2;
    padding-left: 5px;
    color: $font_color;
    font-size: $font_lg;
    font-family: $font_type;
    text-align: center;

}

#text_right_watch{
    display: flex;
    flex-grow: 2;
    padding-right: 5px;
    color: $font_color;
    font-size: $font_lg;
    font-family: $font_type;
    text-align: center;
    justify-content: flex-end;
}