#main_watch{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "video_uno text_uno"
    "text_dos video_dos";
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
}

#video_uno_watch{
    grid-area: video_uno;
    order: 1;
}

#video_dos_watch{
    grid-area: video_dos;
    order: 4;
}

#text_uno_watch{
    grid-area: text_uno;
    color: white;
    font-size: $font_lg;
    font-family: $font_type;
}

#text_dos_watch{
    grid-area: text_dos;
    color: white;
    font-size: $font_lg;
    font-family: $font_type;
}